---
#Only the main Sass file needs front matter (the dashes are enough)
search: false
--- 

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@media screen and (min-width: 768px) {
    .page__content {
        p,
        li,
        dl, 
        code {
            font-size: 0.825em;
        }
    }
}

div.highlighter-rouge {
    line-height: 1.5;
}

.sidebar.sticky {
    position: initial;
}

p {
    word-break: keep-all;
}